:root {
    --primaryColour: #97ffba;
    --secondaryColour: #ff332a;
    --backgroundColour: rgb(36, 58, 40);
}

html,
body {
    background: var(--backgroundColour);
    margin: 0;
    padding: 0;
}
